@using CvProject.Models.Entity;
@model List<TBLMAIN>

<div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
    <div class="tm-site-header">
        @foreach (var man in Model)
        {
            <h1 class="mb-4">@man.NAME</h1>
            <p>@man.DESCRIPTION</p>
        }
        </div>
</div>