@model CvProject.Models.Entity.TBLSKILLS

@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/AdminDefault/_AdminMain.cshtml";
}

@using (Html.BeginForm("AddSkills", "AdminSkills", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container mt-4">
        <div class="card shadow rounded">
            <div class="card-body">
                <h5 class="card-title mb-4">Bilgileri Giriniz</h5>

                <div class="mb-3">
                    <label class="form-label">Hakkında Giriniz</label>
                    @Html.TextBoxFor(m => m.SKILLS, new { @class = "form-control", placeholder = "Hakkında Giriniz" })
                    @Html.ValidationMessageFor(m => m.SKILLS, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.SITEMID, new { @class = "form-control", @Value = "2", @readonly = "readonly" })
                </div>

                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
        </div>
    </div>
}

