@using CvProject.Models.Entity;
@model List<TBLABOUT>

<div class="grid__item" id="home-link">
    <div class="product">
        @foreach (var abt in Model)
        {
                <div class="tm-nav-link">
                    <i class="fas fa-home fa-3x tm-nav-icon"></i>
                    <span class="tm-nav-text">@abt.TBLITEM.ITEM</span>
                    <div class="product__bg"></div>
                </div>
                <div class="product__description">
                    <div class="row mb-3">
                        <div class="col-12">
                            <h2 class="tm-page-title">@abt.TBLITEM.ITEM</h2>
                            <hr style="width:100%; height:1px; background-color:#ccc; border:none;" />
                        </div>
                    </div>
                    <div class="row">
                        <p class="mb-4">@abt.DESCRIPTION_AB</p>
                    </div>
                </div>
        }
    </div>
</div>
