@model CvProject.Models.Entity.TBLMAIN
<footer>
    <p class="small tm-copyright-text">
        <span class="tm-current-year">2020</span> Bu Proje MVC İle Yapılmıştır @Model.NAME.
        Design: <a rel="nofollow" href="" class="tm-text-highlight">Tooplate</a>
    </p>
</footer>
