@model CvProject.Models.Entity.TBLMAIN

<div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
    <div class="tm-site-header">
        <h1 class="mb-4">@Model.NAME</h1>
        <p>@Model.DESCRIPTION</p>
    </div>
</div>